# LDAP/AD
LDAP_BIND_DN: OU=users,DC=addomain,DC=com
LDAP_DOMAIN: addomain.com
LDAP_HOST: 10.0.0.1:389
LDAP_LDIF_WRAP: no
LDAP_NET_TIMEOUT: 5
LDAP_PASS: 53cr37
LDAP_SCOPE: sub
LDAP_SEARCH_BASE: OU=users,DC=addomain,DC=com
LDAP_USER: admin@addomain.com
# LDB
IPA_DOMAIN: ipa.addomain.com
LDB_FILTER: (objectCategory=user)
LDB_HOST: /var/lib/sss/db/cache_ipa.addomain.com.ldb
LOG_FILE: /opt/freeipa-sssd-tools/ipa-sss-sync.log
MAX_PWD_AGE: 30
# SYN
DIR_PLT: /var/www/html/syn/plt
DIR_PNG: /var/www/html/syn/img
DIR_DAT: /var/www/html/syn/dat
IPA_SRV: ipa-srv-mon.log
IPA_PLT: ipa-sss-plt.cfg
PLT_KEY_COLOR: ffffff
PLT_KEY_FONT: Inconsolata,14
PLT_TITLE: ipa-sss-syn
PLT_TITLE_FONT: Inconsolata,16
PLT_TITLE_LT: 5
PLT_X_FONT: Inconsolata,14
PLT_X_LABEL: Time
PLT_Y_FONT: Inconsolata,14
PLT_Y_LABEL: Seconds vs Total vs IPs/100
# HTM
HTM_TITLE: FreeIPA SSSD Sync
HTM_CSS: css/mini-default.css
HTM_TOP: 14
HTM_TPL: ipa-sss-htm.tpl
HTM_INDEX: index.html
HTM_DIR: /var/www/html/syn
